body{
       font-family: "Comic Sans MS", fantasy;
 	 color: #5CC385;
    }

    h1  {
 	   font-size: 2.5em;
 	   text-align: center;
 	   color: #9CF455;
    }

    h2  {
 	   font-size: 1.6em;
 	   text-align: center;
 	   color: #2279BD;
    }