body{
       font-family: "Comic Sans MS", fantasy;
 	 color: #CC4E4E;
    }

    h1  {
 	   font-size: 2.5em;
 	   text-align: center;
    }

    h2  {
 	   font-size: 1.6em;
 	   text-align: center;
 	   color: #FFB9F3;
    }
    
     h3  {
 	   font-size: 1.6em;
 	   text-align: center;
 	   color: #CC9C;
    }