body{
       font-family: "Comic Sans MS", fantasy;
 	 color: #F1940F;
    }

    h1  {
 	   font-size: 2.5em;
 	   text-align: center;
 	   color: #E5F16B;
    }

    h2  {
 	   font-size: 1.em;
 	   text-align: center;
 	   color: #0FF13A;
    }
    
     h3 {
 	   font-size: 1.em;
 	   text-align: center;
 	   color: #9F4D4D;
    }
    
