body{
       font-family: "Comic Sans MS", fantasy;
 	 color: #F1940F;
    }

    h1  {
 	   font-size: 2.0em;
 	   text-align: center;
 	   color: #F977C0;
 	  
    }

    h2  {
 	   font-size: 1.6em;
 	   text-align: center;
 	   color: #CC9CEA;
    }